.register-container {
    width: 800px;
    margin: 0 auto;
}

.register-container .btn-register{
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: ease-in all 0.5s;
    background-color: #363636;
    text-transform: uppercase;
    color: #fff;
    max-width: 276px;
    width: 100%;
    display: block;
    font-weight: bold;
    height: 78px;
    line-height: 78px;
    margin: 0 auto;
    border: 0;
}

.register-container .btn-register:hover {
    outline: none;
    background-color: #39b54a;
    transition: ease-in all 0.5s;
    color: #fff;
    border: 0;
}